/* HEADINGS */
//Basic content box, borderless, does not alter base typography	

.content-box{
	@include clearfix;
	margin-bottom:2em;
	border-bottom:1px dashed $color-border;
	padding-bottom:2em;

	&:last-of-type{border-bottom:none;}
}

// Bordered content box, each bordered content box must include a colour chipped header. Subsequent <h*> elements follow
// a slightly modified version of our header typography. See typography.scss for differences.

//Base mixin for the bordered content box section heading
%worko-heading{
	@include font-size(1.8);
	@include clearfix;
	font-weight:600;
	font-family:$font-stack-header-med;
	padding:10px 0 10px 10px;
	margin:0 0 10px 0;
	border-left:10px solid $color-primary-lightgreen;
	text-transform:uppercase;
	position:absolute;
	top:0;
	left:0;
}

.worko-box,.content-box-bordered{
	position:relative;
	display:block;
	float:left;
	border:1px solid $color-border;
	width:100%;
	min-height:140px;	
	padding:4em 2em 2em 2em;

  .worko-heading{
	@extend %worko-heading;
	}

  .worko-heading-large{
	@extend %worko-heading;
	@include font-size(2.4);
	}

	> .worko-heading-blue{
		@extend %worko-heading;
		border-left:10px solid $color-secondary-darkblue;
		}

	> .worko-heading-purple{
		@extend %worko-heading;
		border-left:10px solid $color-tertiary-hotpink;
		}

	> .worko-heading-orange{
		@extend %worko-heading;
		border-left:10px solid $color-tertiary-orange;
		}

}





