@font-face {
  font-family: 'BryantBold';
  src: url('../fonts/BryantWebBold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/BryantWebBold.woff') format('woff');
}
@font-face {
  font-family: 'BryantMedium';
  src: url('./fonts/BryantWebMedium.eot?#iefix') format('embedded-opentype'), 
       url('./fonts/BryantWebMedium.woff') format('woff');
}
@font-face {
  font-family: 'BryantRegular';
  src: url('../fonts/BryantWebRegular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/BryantWebRegular.woff') format('woff');
}

@font-face {
  font-family: 'Mark';
  src: url('../fonts/MarkPro-TestFont.otf') format('opentype');
}