/************** TYPOGRAPHY *************/
$default-type-spacing:18px;

//Default header base mixin
%default-header{
	font-family:$font-stack-header-med;
	font-weight:bold;
	margin:$default-type-spacing 0;
	text-transform:uppercase;
	color:$color-header;
	line-height:1;
}

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

h1{
	@extend %default-header;
	@include font-size(3.6);
}

h2{
	@extend %default-header;
	@include font-size(3);
}

h3{
	@extend %default-header;
	@include font-size(2.4);
	margin:($default-type-spacing / 1.5) 0 ($default-type-spacing / 1.5) 0; 
}

h4{
	@extend %default-header;
	@include font-size(2.1);
	margin:($default-type-spacing / 3) 0; 
}

h5{
	@extend %default-header;
	@include font-size(1.8);
	margin:($default-type-spacing / 3) 0; 
}

h6{
	@extend %default-header;
	margin:($default-type-spacing / 3) 0; 
	@include font-size(1.6);
}


// Scaled down typography for sub-headings in a bordered content-box
%sub-header{
	font-family:$font-stack-header-light;
	font-weight:normal;
	text-transform:none;
}

.content-box-bordered,.worko-box{
	h1,
	h2{
	@extend %sub-header;	
	@include font-size(2.4);
	}

	h3{
	@extend %sub-header;
	@include font-size(2.1);
	}

	h4{
	@extend %sub-header;
	@include font-size(1.8);
	}

	h5{
	@extend %sub-header;
	@include font-size(1.6);
	}

	h6{
	@extend %sub-header;
	@include font-size(1.4);
	}
}

//Base styles for paragraphs and inline quotations
p{   
    @include font-size(1.4);
    margin-top:$default-type-spacing / 1.5;
	line-height:1.5;
    max-width:620px;
    text-align:left;
    word-break:normal;

		> q{
			font-style:italic;
			quotes: "\201C" "\201D" "\2018" "\2019";

			&:before { content: open-quote; }
			&:after { content: close-quote; }
		}

		> q:lang(fr){
			font-style:italic;
			quotes: "\00AB" "\00BB" "\201C" "\201D";

			&:before { content: open-quote; }
			&:after { content: close-quote; }
		}
    }
 
 //Removes margin-top from paragraphs preceded by a heading. Space between the heading and first paragraph will be handled by the margin on the heading.       
 h1 + p,
 h2 + p,
 h3 + p,
 h4 + p,
 h5 + p,
 h6 + p{
    margin-top:0;
    }

//Resets the default top margin on paragraphs that directly follow a worko-heading
[class^="worko-heading"] + p{margin-top:12px;}

//Base style for a blockquote, strictly follows W3C spec. Check the style guide for the correct markup
blockquote{
    background:rgb(245,245,245);
    margin-left:2em;
    padding:10px;
    border-left:5px solid $color-primary-lightgreen;
    width:56em;

	> p{margin:0;}

	> p + p{margin-top:$default-type-spacing / 1.5;}

	footer{margin:1em 0;}

	footer > cite{
		font-style:italic;
		@include font-size(1.4);
		line-height:$default-type-spacing;

		&:before{
			display:inline-block;
			content:'\2014';
		}
	}
}

//Pull quote style to be used to highlight text within large blocks of text
.pull-quote{
    color: $color-tertiary-purple;
	@include font-size(2.1);
    padding: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-stack-header;
    background: none;
    border: none;
    display: inline-block;
    float: right;
    width: 240px;
 }


 //LISTS!
 %default-lists{
	font-family:$font-stack;
	@include font-size(1.4);
	color:$color-body;
	line-height:1.5;
}

ul,ol{padding:0 20px;}

ol li,
ul li{
    @extend %default-lists;
}
        
ul li{list-style-type:square;}

dl{@extend %default-lists;}

dt{font-weight:bold;}

dd{margin: 0 0 10px 10px;

	> p{margin:0px;}
}
   
dfn{font-style:italic;}     


//Text-level semantic styles        
 code, pre {
    font-family: "Courier New", Courier, Monospace;
    @include font-size(1.4);
}  
	
strong{@include font-size(1.4);}	  
     
 small{
    @include font-size(1.2);
    font-style:italic;
}    
    
cite{font-style:italic;} 
    
 dfn,
 abbr{
    border-bottom:1px dotted #545454;
    cursor:help;
}
    
 mark{
    background:#fefebb;
    padding:0 2px;
}

.follow-link{
	font-weight:bold;
	@include font-size(1.4);
	position:absolute;
	bottom:20px;
	right:20px;
}