// COLOURS	

//Primary Colours
$color-primary-darkgreen:#427730; //$color-link
$color-primary-lightgreen:#69be28; //$color-green

//Secondary Colours
$color-secondary-yellowgreen: #BED600;
$color-secondary-grassgreen: #009B34;
$color-secondary-darkergreen: #3C8A2E; //$color-green-secondary
$color-secondary-darkblue: #007AC9; //$color-blue
$color-secondary-lightblue: #00A9E0; //$color-blue-secondary
$color-secondary-darkteal: #00B2A9;
$color-secondary-lightteal: #00C7B2;

//Tertiary Colours
$color-tertiary-burntorange: #D2492A; //$color-orange-secondary
$color-tertiary-orange: #FFA100; //$color-orange
$color-tertiary-hotpink: #D10074; //$color-purple
$color-tertiary-darkpink: #A70240;
$color-tertiary-purple: #850057; //$color-purple-secondary

//Site Colours
$color-body: #525252;
$color-header:#333;
$color-border: #ccc;
$color-input-border:#c8c8c8;
$color-error:#D2492A;
$color-background-grey:#eee;
$color-grey: #ccc;
// COLOURS	

//$color-link:#427730;
//$color-green:#69be28;
//$color-green-secondary:#3c8a3e;
//$color-blue:#007ac9;
//$color-blue-secondary:#00a9e0;
//$color-purple:#D10074;
//$color-purple-secondary:#850057;
//$color-orange:#ffa100;
//$color-orange-secondary:#D2492A;


// Fonts

$font-stack: Arial, sans-serif;
$font-stack-header: 'BryantBold', Arial, sans-serif;
$font-stack-header-med: 'BryantMedium', Arial, sans-serif;
$font-stack-header-light: 'BryantRegular', Arial, sans-serif;
$font-stack-mono:  Consolas, Monaco, 'Andale Mono', monospace;




